<%- include("partials/header") %>

<body style="text-align: center;">
  <h1>Welcome!</h1>
  <hr>
  <button name="button" class="btn btn-success home"><a href="/form">Register</a></button>
  <button name="button" class="btn btn-warning home"><a href="/mail">Email</a></button>
    <footer class="contact" style="background-color: #f9ed69; padding-bottom: 2rem">
      <p>Created by Siddharth Shenoy 2021</p>
      <a href="https://www.instagram.com/shenoy_s08/?hl=en"><i class="fi-xnsuxl-instagram"></i></a>
      <a href="https://www.facebook.com/siddharth.shenoy.961"><i class="fi-snsuxl-facebook"></i></a>
      <a href="https://www.linkedin.com/in/siddharth-shenoy-2a079a1a5/"><i class="fi-snsuxl-linkedin"></i></a>
      <br>
    </footer>
  </body>
</html>
