body
{
  background-color: #e3d0b9;
}

h1
{
  font-family: 'Lato', sans-serif;
}

hr
{
  height: 2px;
  background-color: #f4eeed;
}

table
{
  border-collapse: separate;
  border-spacing: 0 15px;
  padding: 2.5% 0;
}

label
{
  font-family: 'Montserrat', sans-serif;
}

p
{
  font-family: 'Open Sans', sans-serif;
}

li
{
  font-family: 'Nunito', sans-serif;
}

a
  {
  color: inherit;
  }

a:hover
  {
  color: #f5f5f5;
  text-decoration: none;
  }

.data
{
  margin-left: 5%;
}

.home
{
  margin-top: 5rem;
}

.contact
  {
  position:absolute;
  width:100%;
  bottom:0;
  height:7.5rem;   /* Height of the footer */
  }
